#######################################
##                                   ##
## GMdotnet                          ##
## Vagrant Multi Machine Virtualbox  ##
## Version 1.2.0                     ##
##                                   ##
## Config file                       ##
#######################################

gmdotnet:
    - host:
        # MACHINE
        enable: yes
        vagrantbox_name: gmweb
        hostname: gmweb
        box:
            name: giuseppemorelli/lamp-stack
            version: 1.0.2
            check_update: yes
        private_ip: 192.168.250.10
        ram: 1024
        cpu: 1
        extra_hard_disk:
            create: yes
            filepath: .vagrant/extradisk.vdi
            size: 30 # size in GB
        # PROVISION
        provision:
            ansible:
                enable: no
                playbook_path: "ansible/playbook.yml"
            script:
                enable: no
                path: "script/backup_database.sh"
            permanent_script:
                enable: no
                path: "script/backup_database.sh"
        # PLUGINS
        plugins:
            hostsupdater:
                enable: no
                permanent: no
                aliases: ["alias.gmweb", "alias2.gmweb"]
        # SHARED FOLDERS
        share:
#            - folder:
#                host_folder: /home/user/project
#                vagrant_folder: /var/www/project
#                owner: vagrant
#                group: vagrant
#            - folder:
#                host_folder: /mnt/archive
#                vagrant_folder: /mnt/archive
#                owner: vagrant
#                group: vagrant
        # RSYNC FOLDERS
        rsync:
#            - folder:
#                host_folder: /mnt/mysync
#                vagrant_folder: /mnt/rsyncfolder
#                owner: vagrant
#                group: vagrant
#                options:
#                    - "-a"
#                    - "-r"
#                    - "-v"
#                    - "-z"
#                    - "--delete"
#               exclude:
#                   - ""
#            - folder:
#                host_folder: /mnt/extra/rsync2
#                vagrant_folder: /mnt/extra/rsync2
#                owner: vagrant
#                group: vagrant
#                options:
#                    - "-a"
#                    - "-r"
#                    - "-v"
#                    - "-z"
#                exclude:
#                    - "myfolder"
        # NFS FOLDERS
        nfs:
#            - folder:
#                host_folder: /var/www/myproject
#                vagrant_folder: /var/www/project_vagrant
#                options:
#                    - ""